#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
}

body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	min-height: screen;
	background-color: #f1f1f1;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: white;
	z-index: 1000;
}

.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.header img {
	height: 35px;
}

.header p {
	margin-top: 5px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: #f1f1f1;
	font-size: 14px;
	color: #555;
}

.footer a {
	text-decoration: none;
	color: #009688;
	font-weight: bold;
}
